<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Model List</title>

</head>

<body>
<h1>List of models: </h1>
<div class="dropdown">
  <button onclick="DropDownFnc()" class="dropbtn">Model Select</button>
  <div id="ModelsDropDown" class="dropdown-content">
  <a href="#">{{  models  }}</a>
  </div>
</div>


<div class='container'>
  <form>
    <a href=# id=test><button class='btn btn-default'>Test</button></a>
  </form>
</div>

<p id="out">{{  text  }}</p>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
//Call the 'call_and_response' function in Ollama
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            console.log("printed!")
            $.getJSON('/button_func', function(data) {
              
            
	    if (data && data.text) {
	        document.getElementById("out").innerText = data.text;
	    } else {
	        document.getElementById("out").innerText = "Words";
            }
	    });
          });
	});
</script>

<script>
//Dropdown script


/*
for (i in models) {
for (i=0; i<models.length; i++) {
   document.writeln(models[i])
  }
}
*/ 


function DropDownFnc(event) {
  document.getElementById("ModelsDropDown").classList.toggle("show");
}
</script>

</body>
</html>